
  <!-- <% include("../partials/navbar") %> -->
  <%- include('../partials/header'); -%>
  

<form  method="post"  style="border:1px solid #ccc">
  <div class="container">
    <h1>Login To Your Account</h1>
    <hr>
    
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    
    <h5 style="color:red "> <%= err %> </h5>
    
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    
    <div class="clearfix">
      <button type="button" class="cancelbtn btn btn-danger p-1 m-1">Cancel</button>
      <button type="submit" class="signupbtn btn btn-success p-1 m-1">Login </button>
    </div>
  </div>
</form>
<%- include('../partials/footer'); -%>


