<h1>this is products</h1>
<form method="POST">
    <label for="title">Product Name</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="tags">Tags</label><br>
    <input type="text" id="tags" name="tags"><br><br>

    <label for="image">Image Source</label><br>
    <input type="url" id="image" name="image"><br><br>

    <label for="price">Price</label><br>
    <input type="number" id="price" name="price"><br><br>

    <label for="desc">Description</label><br>
    <input type="text" id="desc" name="desc"><br><br>

    <button type="button">Preview</button>
    <button type="submit">Add to Product </button>
</form>